.the_card{
    width: 100%;
    max-width: 420px;
    padding: 10px;
    margin: 0 auto 16px;
}
.the_card .card_id{
    font-size: 15px;
    color: coral;
    font-weight: bold;
    margin-right: 16px;
}
.the_card .card_title{
    text-align: left;
    font-size: 18px;
    color: #555;
}
.the_card .card_info{
    margin-bottom: 16px;
}