*{ padding: 0; margin: 0; border: 0; font-style: normal; }
html, body{
	background-color: #fff;
	color: #333;
	/* 禁用字体大小自动调整 */
	-webkit-text-size-adjust: none !important;
    text-size-adjust: none !important;
	/* 去掉点击高亮 */
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}
div{ box-sizing: border-box; }
li{ list-style: none; box-sizing: border-box; }
a{ text-decoration: none; color: #333; background-color: transparent; }
img{ display: block; width: 100%; }
h1,h2,h3,h4,h5,h6,i,b,i{ font-weight: 400; font-style: normal; }
input, textarea{ 
    outline: none; 
    background-color: rgba(0, 0, 0, 0); 
    -webkit-user-select: auto; 
    border: none; 
    box-sizing: border-box; 
    font-family: "Helvetica Neue", Helvetica, sans-serif; 
}
input::-webkit-input-placeholder { color: #999; }
textarea { resize: none; display: block; }
textarea::-webkit-input-placeholder { color: #999; }


